:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    color: #FFFFFF;
    text-decoration: inherit;
}

a:hover {
    color: #d6464b;
}

body {
    background-color: #ffffff;
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    user-select: none;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 32px;
    color: #141212;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #D1363A;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
     :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}

input {
    border: 1px solid #BDBDBD;
    border-radius: 4px;
    padding: 8px;
    outline: none;
}

input:focus {
    border-color: #2196F3;
}

input::selection {
    background-color: #656462;
    color: #ffffff;
}

input[type="text"] {
    position: relative;
    width: 419px;
    height: 92px;
    font-weight: 500;
    border-radius: 5px;
    color: #141212;
    background-color: #ffffff;
    font-size: 24px;
    padding: 0px 0px 0px 23.74px;
}

.MuiOutlinedInput-notchedOutline {
    border: 5px solid #D1363A !important;
}

.MuiFormLabel-root {
    font-weight: 500 !important;
    color: #141212 !important;
    font-size: 24px !important;
    padding-left: 23.74px !important;
    margin-top: 12px !important;
}

.MuiInputLabel-shrink {
    color: #D1363A !important;
    background-color: #FFFFFF;
    border: #FFFFFF solid 4px;
    width: auto !important;
    font-size: 25px !important;
    padding-left: 0px !important;
    margin-top: -7px !important;
}

input[type="password"] {
    position: relative;
    width: 419px;
    height: 92px;
    font-weight: 500;
    border-radius: 5px;
    color: #141212;
    background-color: #ffffff;
    font-size: 24px;
    padding: 0px 0px 0px 23.74px;
}

button {
    background-color: #D1363A;
    text-align: "center";
    color: #FFFFFF;
    font-size: 28px;
    margin-top: 21px;
    width: 212px;
    height: 72px;
    border-radius: 20px;
    outline: none !important;
}

.media {
    color: #e7e7e7;
    background-color: #e7e7e7;
    margin-top: 27px;
    margin-right: 13.4px;
    margin-left: 13.4px;
    width: 92px;
    height: 46px;
}

img {
    position: relative;
    height: 28px;
    width: auto;
    top: -2px;
}

div {
    width: auto
}

div.container {
    position: relative;
    width: auto;
    height: auto;
    margin: 27px auto 0px;
}

div.fade {
    position: "fixed";
    top: "0";
    left: "0";
    width: "100%";
    height: "100%";
    background: "rgba(0,0,0,0.6)"
}

svg {
    color: #1e3050;
    position: absolute;
    top: 37%;
    right: 13px;
    font-size: 20px;
}

.icon visible {
    color: #1e3050;
    position: absolute;
    right: 10px;
}

input[type="checkbox"] {
    border: solid #D1363A;
    border-radius: 5px;
    display: inline-block;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;
    background-color: #FFFFFF;
    color: #FFFFFF;
    margin-top: 24px;
    left: 0%;
    height: 30px;
    width: 30px;
    text-align: center;
}

input[type="checkbox"]:checked {
    border: solid #D1363A;
    display: inline-block;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #D1363A;
    color: #FFFFFF;
}

input[type="checkbox"]:checked::before {
    content: "\2714";
    font-size: 24px;
    margin-left: -9px;
    margin-top: -5px;
    color: white;
    position: absolute;
}

label {
    user-select: none;
    margin-top: 18px;
    font-size: 24px;
    font-weight: 500;
    left: 10%;
    position: absolute;
    color: #000000
}

.Footer {
    user-select: none;
    position: fixed;
    background-color: #656462;
    display: inline;
    bottom: 0;
    left: 0;
    width: 100%;
    height: inherit;
    padding: 17px;
    justify-content: left;
    text-align: left;
}

.Footer p {
    font-size: 12px;
    left: 0;
    margin: 0;
}

.Footer a {
    font-size: 9px;
}

.Footer img {
    border: 5px solid #FFFFFF;
    border-radius: 50%;
    position: absolute;
    height: 60%;
    top: 20%;
    right: 60px;
}

@media (max-width:720px) {
    .Footer img {
        top: 50%;
        height: 50%;
    }
}

.input-container {
    position: relative;
}

label {
    transition: all 0.2s ease-in-out;
}

input.username-input {
    background: none;
    z-index: 1;
}

.inputlabel {
    z-index: 0;
    margin-top: 0;
    top: 30%;
    left: 10%;
}

.up {
    z-index: 1;
    background-color: #FFFFFF;
    font-size: 20px;
    margin-top: 0px;
    left: 5%;
    top: -17%;
}

dialog {
    z-index: 2;
}